{{#each this}}
  <li class='card'>
    <div class='card__thumb'>
      <img src={{image}} width='360' height='400' alt={{name}} />
      <div class='card__label-wrapper'>
        <div class='card__label--sale'>Sale</div>
        <div class='card__label--new'>New</div>
      </div>
      <div class='card__icons'>
        <a href='product.html?id={{id}}' class='card__icons-link'>
          <svg class='overlay__icon--eye' width='20' height='20'>
            <use href='./assets/sprite.svg#icon-eye'></use>
          </svg>
        </a>
        <button class='card__icons-btn' data-id='{{id}}' data-stock='{{stock}}'>
          {{#ifEquals stock 0}}
            Out of stock
          {{else}}
            <svg class='overlay__icon--bag' width='20' height='20'>
              <use href='./assets/sprite.svg#icon-shopping-bag-white'></use>
            </svg>
          {{/ifEquals}}
        </button>

      </div>
    </div>
    <div class='card__content'>
      <h3 class='card__title'>{{name}}</h3>
      <span class='card__price'>${{price}}</span>
      <span class='card__price-old'>${{oldPrice}}</span>
      <a href='#' class='card__like'>
        <svg width='20' height='20'>
          <use href='./assets/sprite.svg#icon-heart'></use>
        </svg>
      </a>
    </div>
  </li>
{{/each}}